#app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.compare-header {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 15px;
}

.course-list > div:last-child {
  margin-bottom: 10px;
}

.course-list > div {
  border-bottom: solid 15px transparent;
  border-top: solid 15px transparent;
  box-shadow: 0 -2px 0 -1px #d3d3d3;
  width: 750px;
}

.course-list > div:nth-child(2) {
  box-shadow: 0 -4px 0 -1px #d3d3d3;
}

.course-list > div:hover {
  cursor: pointer;
  background-color: #e8e9eb;
}

.course-list > div:not(:first-child) > .curr-course {
  display: none;
}

.course-list > div:first-child:hover {
  cursor: default;
  background-color: transparent;
}

.course {
  display: flex;
}

.curr-course {
  font-size: 11px;
  margin: -10px 0px 10px 2px;
}

.thumbnail {
  height: 70px;
  position: relative;
}

.course-info {
  min-height: 70px;
  width: 625px;
  display: flex;
  justify-content: space-between;
}

.title {
  height: 100%;
  margin-left: 15px;
  width: 45%;
}

.course-title {
  font-size: 15px;
  font-weight: 700;
  word-break: break-word;
}

.updatedAt {
  font-size: 13px;
}

.course-info {
  display: flex;
}

.details {
  margin-left: 10px;
  width: 45%;
  display: flex;
  justify-content: space-around;
  text-align: right;
}

.rating {
  display: flex;
  /* align-items: center; */
  /* align-self: flex-start; */
  width: 35px;
}

.num-subs {
  width: 60px;
}

.price {
  width: 60px;
}

/* .rating img {
  height: 16px;
  width: 14px;
} */
