.what_you_get_items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.what_you_get {
  background-color: #f9f9f9;
  border: 1px solid #dedfe0;
  padding: 10px 15px;
  overflow: hidden;
  position: relative;
}

#columnHolder {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

li {
  padding: 10px;
}

div {
  display: block;
}

span {
  padding-right: 10px;
}

#container {
  padding-left: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  flex-direction: column;
  width: 66.66666667%;
}